/* App.css */
body {
  background: linear-gradient(to right, #333f4c, #5d5e76);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.outer-container {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin: 20px;
}

.inner-container {
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: 2px solid #5d5e76;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #333f4c;
}

.add-btn {
  background: #5d5e76;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.add-btn:hover {
  background: #333f4c;
  color: white;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.todo-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
  flex-wrap: wrap;
}

.todo-item:hover {
  background: #e9f7f6;
}

.todo-item span {
  flex: 1;
}

.edit-input {
  flex: 1 1 auto;
  padding: 10px;
  border: 2px solid #5d5e76;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.edit-input:focus {
  border-color: white;
}

.btn-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

button {
  background: #333f4c;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #5d5e76;
  color: white;
}

.complete-btn {
  background: #5d5e76;
  color: white;
}

.uncomplete-btn {
  background: #333f4c;
  color: white;
}

.submit-btn {
  background: #5d5e76;
  color: white;
}
